<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="addForm">
    汽车名称:<input id="supplier" name="carname" class="easyui-textbox" data-options="iconCls:'icon-man'" style="width:200px"/><br>
    汽车价格:<input type="text" name="carprice"><br>
    汽车类型:<select name="cartypeid">
                <option value="1">轿车</option>
                <option value="2">轿跑</option>
                <option value="3">suv</option>
            </select>
    汽车销量:<input type="text" name="carsales"><br>
    生产日期:<input type="date" name="cartime"><br>

</form>
</body>
</html>