<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="addForm">
            <input type="hidden" name="docid" th:field="${dd.docid}"><br>
    医生名称:<input id="mingcheng" name="docname" th:field="${dd.docname}" class="easyui-textbox" data-options="iconCls:'icon-man'" style="width:200px"/><br>
    医生年龄:<input type="text" name="docage" th:field="${dd.docage}"><br>
    医生性别:<input type="radio" name="docsex" value="1"  th:field="${dd.docsex}">男
            <input type="radio" name="docsex" value="2" th:field="${dd.docsex}">女<br>
</form>
</body>
</html>