<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper" >
    <select id="queryUserByName" resultType="com.jk.model.User">
        select * from t_user where username=#{username}
    </select>
<!--<select id="querytotal" resultType="long">

    select count(*) from t_user
</select>
<select id="getuserList" resultType="com.jk.model.User">

    select * from t_user limit #{start},#{rows}
</select>
    <select id="queryRoleAll" resultType="com.jk.model.Role">
  	select * from t_role
  </select>
  <select id="queryRoleByUid" resultType="java.lang.Integer">
  	select m.roid  from t_user_role m where m.usid = #{uid}
  </select>
    <delete id="deleteUserRoleByUid">
  	delete from t_user_role where usid = #{userid}
  </delete>
    <insert id="saveUserRole">
        insert into t_user_role (usid,roid) values
        <foreach item="aaa" index="index" collection="rids" separator=",">
            (#{userid},${aaa})
        </foreach>
    </insert>-->

</mapper>